body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3ef;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #9875f8;
  }

  h3 {
    color: #df7aec;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #b0c7eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #6a38f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }